<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="spanish, course, beginners">
    <meta name="description" content=" ">
    <meta name="author" content=" Juliana Giraldo Sarria">
    <meta name="copyright" content="  ">
    <meta name="robots" content="noindex">
    <meta name="robots" ccontent= "index, follow=">

    <title>learn Spanish With Juli |About Me</title>
    <link rel="stylesheet"type="text/css" href="../style/styles.css">
    <link rel="stylesheet"type="text/css" href="../style/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="images/x-icon">

</head>
<body>
    
    
    <div id="container">
        
        <div class="nav1">
            <a href= "../index.html" target="_blank">Home page</a>               
        </div>
        <div class="nav2">
             <a href="./takeyourgift.html" target="_blank">Take your gift</a> 
        </div>
        <div class="nav3">
            <a href="https://www.youtube.com/channel/UCEjvOJ2aURpUrgUso_eopWA" target="_blank">Take a lesson</a> 
        </div>
        <div class="nav4">
        <a href=" https://w.app/l38CnA" target="_blank"   class="whsp">Contact me</a> 
        </div> 
        <div class="nav5">            
            <img src="../images/logocentral.svg" class="img1" alt="">         
         </div>
    </div>

   <center><div class="bloques">
    <h1>learn Spanish With Juli</h1>

<p class="bloque1"> I invite you to explore and learn with me this beautiful language. I am Juliana Giraldo Sarria, and I am from the city of Medellín, Colombia. I have designed a comprehensive and wonderful course, starting from the basics and progressing to an advanced level. The course places significant emphasis on pronunciation and using the language in all aspects of your daily life.
    <br>
    <br>
    <br>
    By the end of the course, you will possess the knowledge and skills necessary to communicate effectively in this language.
    <br>
    <br>
    <br>
    This will allow you to broaden your horizons, meet new people, travel to Spanish-speaking countries, learn more about their culture and cuisine, and experience the warmth and affection of the locals.
    <br>
    <br>
    <br>
    This video course is structured to accommodate your schedule, allowing you to study at your convenience and revisit lessons as needed. I hope you’ll decide to embrace this exciting challenge with the strong belief that, step by step, you will acquire a new language that will open doors in your professional, cultural, and even personal life. Who knows, you might find love in a Spanish-speaking country.
    <br>
    <br>
    <br>
    Regardless of your life goals or motivations, I encourage you not to give up on this endeavor. Together, let’s work towards achieving it. Remember: the power to realize your aspirations lies within your mind and heart. Stay focused on what you want and pursue it steadfastly.
    <br>
    <br>
</p>


<img src="../images/imagenaboutme.jpeg" class="bloque2" alt"learnspanishwithjuli"></center>

</div>

     <div class="contenedor2">
          <center><div class="socialmedia">      
                                                      
                   
            <a href="https://www.instagram.com/learnspanishwithjuli/.php?id=61550602597606" target="_blank"> 
                <img src="../images/instagram.svg"  alt="instagram">
            </a>

           <a href="https://www.facebook.com/profile.php?id=61550602597606" target="_blank"> 
                <img src="../images/facebook.svg"  alt="facebook">
             </a>

            <a href="https://www.youtube.com/channel/UCEjvOJ2aURpUrgUso_eopWA" target="_blank"> 
                <img src="../images/youtube.svg"  alt="you tube">
            </a>
            <h2>Follow me and subscribe</h2> 
       
        </div> </center>
    
     
       

    
</body>

</html>