<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="spanish, course, beginners">
    <meta name="description" content=" ">
    <meta name="author" content=" Juliana Giraldo Sarria">
    <meta name="copyright" content="  ">
    <meta name="robots" content="noindex">
    <meta name="robots" ccontent= "index, follow=">

    <title>learn Spanish With Juli |Take Your Gift </title>
    <link rel="stylesheet"type="text/css" href="../style/styles.css">
    <link rel="stylesheet"type="text/css" href="../style/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="images/x-icon">

</head>
<body>
    
    
    <div id="container">
        
        <div class="nav1">
            <a href= "../index.html" target="_blank">Home page</a>               
        </div>
        <div class="nav2">
             <a href="../views/aboutme.html" target="_blank">About Me</a> 
        </div>
        <div class="nav3">
            <a href="https://www.youtube.com/channel/UCEjvOJ2aURpUrgUso_eopWA" target="_blank">Take a lesson</a> 
        </div>
        <div class="nav4">
        <a href=" https://w.app/l38CnA" target="_blank" class="whsp">Contact me</a> 
        </div> 
        <div class="nav5">            
            <img src="../images/logocentral.svg" class="img1" alt="">         
         </div>
    </div>

   <center><div class="bloques">
    <h1>learn Spanish With Juli</h1>

<p class="bloque3"> Congratulations, you are taking your first steps in learning the Spanish language. If you're here, it's because you're interested in obtaining study materials.
    <br>
    <br>
    Below, you have a downloadable PDF file covering the very basics of the language. However, if you wish to receive an extensive document that spans from basic to advanced in both Spanish and English, for better understanding, please complete the form with your details. This way, we can send you all the material via email and keep you informed about upcoming free group classes.
    <br>
    <br>
    Keep going and don't stop; the initial steps are often the most challenging. In no time, you'll look back and be amazed at your progress. Stay motivated! I invite you to visit my YouTube channel and not miss any lessons. Consistency and discipline are the keys to success. Let me guide you on this journey.
    <br>
    <br>
    See you in class. A warm hug."
    <br>
    <br>
    
</p>


<div class="bloque4">
    <h2>Form</h2>
    <br>
    <br>
    <form id="formulario">
        <label for="name      ">Name     :</label>
        <input type="text" id="nombre" required>
        <br>
        <br>
        <label for="lastname  ">Last name:</label>
        <input type="text" id="apellidos" required>
        <br>
        <br>
        <label for="email    ">email     :</label>
        <input type="email" id="email" required>
        <br>
        <br>
        <label for="Country  ">Country   :</label>
        <input type="text" id="pais" required>
        <br>
        <br>
        <label for="Phone    ">Phone     :</label>
        <input type="tel" id="telefono" required>
        <br>
        <br>
        <label for="birthdate">Birthdate  :</label>
        <input type="date" id="fechaNacimiento" required>
        <br>
        <br>
        <label for="motivo">Why Do You Wnat To Learn Spanish?:</label>
        <select id="motivo" required>
            <option value="hobbie">Hobbie</option>
            <option value="estudio">Study</option>
            <option value="trabajo">Work</option>
            <option value="viaje">Travel</option>
            <option value="otro">Other</option>
        </select>
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>


</div>

     <div class="contenedor2">
          <center><div class="socialmedia">      
                                                      
                   
            <a href="https://www.instagram.com/learnspanishwithjuli/.php?id=61550602597606" target="_blank"> 
                <img src="../images/instagram.svg"  alt="instagram">
            </a>

           <a href="https://www.facebook.com/profile.php?id=61550602597606" target="_blank"> 
                <img src="../images/facebook.svg"  alt="facebook">
             </a>

            <a href="https://www.youtube.com/channel/UCEjvOJ2aURpUrgUso_eopWA" target="_blank"> 
                <img src="../images/youtube.svg"  alt="you tube">
            </a>
            <h2>Follow me and subscribe</h2> 
       
        </div> </center>
    
     
       

    
</body>

</html>